<mat-card>
  <mat-card-title>Movies</mat-card-title>
  <a mat-raised-button color="primary" routerLink="/add-movie">ADD NEW</a>
  <mat-card-content>
    <table mat-table *ngIf="moviesDataSource.data?.length > 0" [dataSource]="moviesDataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let movie">{{movie.Id}}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let movie">{{movie.Name}}</td>
      </ng-container>

      <ng-container matColumnDef="genre">
        <th mat-header-cell *matHeaderCellDef>Genre</th>
        <td mat-cell *matCellDef="let movie">{{movie.Genre}}</td>
      </ng-container>

      <ng-container matColumnDef="year">
        <th mat-header-cell *matHeaderCellDef>Year</th>
        <td mat-cell *matCellDef="let movie">{{movie.Year}}</td>
      </ng-container>

      <ng-container matColumnDef="directorId">
          <th mat-header-cell *matHeaderCellDef>Director id</th>
          <td mat-cell *matCellDef="let movie">{{movie.DirectorId}}</td>
        </ng-container>

      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef></th> 
        <td mat-cell *matCellDef="let movie">
          <button mat-button color="primary" (click)="getDetails(movie.Id)">Details</button>
        </td> 
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef></th> 
        <td mat-cell *matCellDef="let movie">
          <button mat-button color="primary" (click)="edit(movie.Id)">Edit</button>
        </td> 
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th> 
        <td mat-cell *matCellDef="let movie">
          <button mat-button color="primary" (click)="delete(movie.Id)">Delete</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    <p *ngIf="moviesDataSource.data?.length == 0" style="margin-top: 16px">There is not a movie for director with id={{directorId}}.</p>
  </mat-card-content>
  <!--<table>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Genre</th>
      <th>Year</th>
      <th>movie id</th>
      <th colspan="3"></th>
    </tr>
    <tr *ngFor="let movie of movies">
      <td>{{movie.Id}}</td>
      <td>{{movie.Name}}</td>
      <td>{{movie.Genre}}</td>
      <td>{{movie.Year}}</td>
      <td>{{movie.movie.Id}}</td>
      <td><a mat-button color="primary" routerLink="/detail-movie/{{movie.Id}}">Details</a></td>
      <td><a mat-button color="primary" routerLink="/edit-movie/{{movie.Id}}">Edit</a></td>
      <td><a mat-button color="primary" (click)="delete(movie.Id)">Delete</a></td>
    </tr>
  </table>-->
</mat-card>
